.main-layout{
    height: 100vh;
}


.ant-layout-sider {
    background-color:#7cb305;
    height: 95%;
}

.ant-layout-sider-trigger{
    top: 95%;
}

.content-layout{
    background-color: #fcffe6;
}

.ant-menu.ant-menu-dark{
    background-color:#7cb305;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color:#3f6600;
}
.ant-layout-sider-trigger{
    background-color:#3f6600;
    height: 5vh;
    
}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .ant-layout-sider-trigger{
        visibility: hidden;
    }
    .ant-layout-sider {
        background-color:#7cb305;
        height: 100%;
    }
}
