.main-layout{
    height: 100vh;
    
}

.ant-layout-sider {
    background-color:#7cb305;
    height: 95%;
}

.ant-layout-sider-trigger{
    top: 95%;
}

.content-layout{
    background-color: #fcffe6;
    
}


.ant-card-body {
    font-weight: bold;
}

.ant-modal-title {
    font-weight: bolder;
    font-size: 25px;
    font-weight:bold;
}
.ant-card-body {
    font-weight: bold;
    background-color: white;
    border-radius: 10%;
    margin-top: 1%;
}
.ant-card-bordered {
    border:0;
}

.ant-menu.ant-menu-dark{
    background-color:#7cb305;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color:#3f6600;
}
.ant-layout-sider-trigger{
    background-color:#3f6600;
    height: 5vh;
    
}
.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background-color:#7cb305;
}

.ant-menu-title-content{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.ant-modal{
    width: 50% !important;
}

.ant-card-bordered .ant-card-cover {
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    padding-left: 36%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: #f4ffb8;
    border: 1px solid black;
    border-radius: 10px;
}

.ant-table-container {
    background-color: #f4ffb8;
}
.ant-table-content{
    background-color: #f4ffb8;
    border: 3px solid black;
    border-radius: 5px;
}

.ant-table table {
    text-align: center;
}

.ant-table-cell{
    background-color: #f4ffb8;
}

.ant-table-thead > tr > th{
    background-color: #f4ffb8;
}


.ant-table-tbody > tr > td {
    border-top: 1px solid black;
    border-bottom: none;
}

.ant-table-thead > tr > th{
    text-align: center;
    border-bottom: none;
    font-weight: bold;
}

.ant-pagination{
    margin-top: 1%;
}
.ant-pagination-item {
    font-weight: 500;
    background: #f4ffb8;
    border: 1px solid black;
    border-radius: 10px;
}

.ant-pagination-item-active {
    font-weight: 500;
    background: #f4ffb8;
    border: 1px solid black;
    border-radius: 10px;
}
.ant-pagination-item-active a {
    color: #7cb305;
}
.ant-pagination-item-active:hover {
    border-color: #7cb305;
}
.ant-pagination-item-active:hover a {
    color: #7cb305;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    font-weight: 500;
    background: #f4ffb8;
    border: 1px solid black;
    border-radius: 10px;
}


.ant-steps-item-title{
    text-shadow: #a0d911 1px 0 10px;
}
.ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link {
    color: rgba(0, 0, 0, 0.25);
    border-color: #7cb305;
    cursor: not-allowed;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
    color: black;
}

.ant-popover-title {
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .ant-layout-sider-trigger{
        visibility: hidden;
    }
    .ant-layout-sider {
        background-color:#7cb305;
        height: 100%;
    }
}
