.ant-form{
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-top: 10vh;
    overflow: auto;
    height: 80%;
}
.ant-form-item-control-input{
    text-align: center;
}
.form-title{
    font-size: 24px;
    font-weight: bold;
}
.input-login{
    width: 25%;
    
}
.ant-form-item-required{
    width: 15vh;
    font-weight: bold;
}