.login-div{
    text-align: center;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ant-form{
    width: 80%;
    height: auto;
    text-align: center;
    display: inline-block;
    padding-top: 10%;
    overflow: scroll;
}
.ant-form-item-control-input{
    text-align: center;
}
.form-title{
    font-size: 24px;
    font-weight: bold;
}
.input-login{
    width: 25%;
}
.ant-form-item-required{
    width: 15vh;
    font-weight: bold;
}
.prijava-button{
    width: 20vh;
}
@media only screen and (max-width: 600px) {

    .login-div{
        text-align: center;
        width: 100%;
        height: auto;
        display: inline-grid;
        margin-left: auto;
        margin-right: auto;
    }

    .ant-form{
        width: 80%;
        height: auto;
        text-align: center;
        display: inline-grid;
        padding-top: 10%;
    }

    .input-login{
        width: 25vh;  
    }
    .ant-form-item .ant-form-item-label {
        text-align: center;
    }
    .ant-form-item-required{
        width: 15vh;
        text-align: center;
        font-weight: bold;
    }

}