.ant-form{
    width: 100%;
    height: 80%;
    text-align: center;
    display: inline-block;
    padding-top: 10%;
    overflow: scroll;
}
.ant-form-item-control-input{
    text-align: center;
}
.form-title{
    font-size: 24px;
    font-weight: bold;
    text-shadow: #a0d911 1px 0 10px;
}
.input-login{
    margin-right: 10%;
}
.ant-form-item-label{
    left: 15%;
}
.ant-form-item-required{
    width: 15vh;
    font-weight: bold;
}
.prijava-button{
    width: 20vh;
}

.main-button {
    width: 20vh;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #a0d911;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .main-button:hover {
    background-color: #7cb305;
    box-shadow: 0px 15px 20px #f4ffb8 ;
    color: #fff;
    transform: translateY(-7px);
  }
@media only screen and (max-width: 600px) {

    .login-div{
        text-align: center;
        width: 100%;
        height: 80%;
        display: inline-grid;
        margin-left: auto;
        margin-right: auto;
    }

    .ant-form{
        width: 100%;
        height: 100%;
        text-align: center;
        display: inline-grid;
        left: 5%;
    }
    .input-login{
        margin-right: 0%;
    }

    .ant-form-item-label{
        left: 0%;
    }

    .input-login{
        width: 25%;  
    }
    .ant-form-item .ant-form-item-label {
        text-align: center;
    }
    .ant-form-item-required{
        width: 15vh;
        text-align: center;
        font-weight: bold;
    }

}